form {
    h6{
        color: #000;
    }
    .input-wrapper {
        margin: 10px 0;
    }
   
}

.create-contract-wrapper {
    &>div {
        &>div {
            border-right: 1px solid rgba(0, 0, 0, 0.12);
            
        }
    }
}