{% verbatim %}
<html>
    <head>
        <script src="https://unpkg.com/vue@2.6.11/dist/vue.js"></script>
        <script src="https://unpkg.com/vue-router"></script>
        <script src="https://unpkg.com/http-vue-loader"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
        <!--PRIMEVUE -->
        <link href="https://unpkg.com/primevue/resources/themes/saga-blue/theme.css" rel="stylesheet">
        <link href="https://unpkg.com/primeicons/primeicons.css" rel="stylesheet">
        <link href="https://unpkg.com/primevue/resources/primevue.min.css" rel="stylesheet"> 
        <script src="https://unpkg.com/primevue@2.3.0/button/button.umd.min.js"></script>
        <script src="https://unpkg.com/primevue@2.3.0/avatar/avatar.umd.min.js"></script>
        <script src="https://unpkg.com/primevue@2.3.0/menu/menu.umd.min.js"></script>
        <script src="https://unpkg.com/primevue@2.3.0/inputtext/inputtext.umd.min.js"></script>
        
        <script src="https://unpkg.com/primevue@2.3.0/datatable/datatable.umd.min.js"></script>
        <script src="https://unpkg.com/primevue@2.3.0/column/column.umd.min.js"></script>
        <script src="https://unpkg.com/primevue@2.3.0/multiselect/multiselect.umd.min.js"></script>
        <script src="https://unpkg.com/primevue@2.3.0/calendar/calendar.umd.min.js"></script>
        <script src="https://unpkg.com/primevue@2.3.0/dropdown/dropdown.umd.min.js"></script>

        <!--BUEFY-->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@5.8.55/css/materialdesignicons.min.css">
        <link rel="stylesheet" href="https://unpkg.com/buefy/dist/buefy.min.css">
        <script src="https://unpkg.com/buefy/dist/buefy.min.js"></script>


        <!--CUSTOM STYLES-->
        <link href="/static/invocrm/base.css" rel="stylesheet">
        <!--FONTS-->
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400&family=Poppins:wght@100;200;300;400&display=swap" rel="stylesheet">
      <title>InvoCRM</title>
    </head>
    <body>
        <div id="vue-app">
            <layout>
              <router-view>
                <contracts></contracts>  
                <annexes></annexes>
            </router-view>
            </layout>
        </div>
       <script src="/static/invocrm/main.js"></script>
       <script src="/static/invocrm/services/ContractsService.js"></script>
       <script src="/static/invocrm/utils.js"></script>
       <script>
       </script>
      </body>
  </html>
  {% endverbatim %}
